<Figure @onclick="ViewItem" class="is-clickable">
    <FigureImage Source="@_imageUrl"/>
    <FigureCaption>
        <Div TextAlignment="TextAlignment.Center">
            @_title
        </Div>
    </FigureCaption>
</Figure>

