@page "/series/{seriesId:guid}/season/{seasonId:guid}/episode/{episodeId:guid}"
@layout MainLayout

@if (Episode is null)
{
    <LoadingComponent/>
}
else
{
    <div>
        @Episode.SeriesName @(Episode.ProductionYear is null ? null : $"({Episode.ProductionYear})")
    </div>
    <div>
        @($"S{Episode.ParentIndexNumber}E{Episode.IndexNumber} - {Episode.Name}")
    </div>
    <div>
        @($"{Episode.PremiereDate:d}\t{Episode.RunTimeTicks}\t{DateTime.Now.AddTicks(Episode.RunTimeTicks ?? 0)}");
    </div>
}

