@page "/episode/{itemId:guid}"
@layout MainLayout

@if (Episode is null)
{
    <LoadingComponent/>
}
else
{
    <span>
        @Episode.Name
        @if (Episode.ProductionYear is not null)
        {
            <span> - @Episode.ProductionYear</span>
        }
    </span>
}

