@page "/"
@layout MainLayout

@if (_continueWatching?.Count != 0)
{
    <h2>Continue Watching</h2>
    if (_continueWatching is null)
    {
        <LoadingComponent/>
    }
    else
    {
        <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10 2xl:grid-cols-12">
            @foreach (var item in _continueWatching)
            {
                <PrimaryCardComponent Item="item"/>
            }
        </div>
    }
}

@if (_nextUp?.Count != 0)
{
    <h2>Next Up</h2>
    if (_nextUp is null)
    {
        <LoadingComponent/>
    }
    else
    {
        <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10 2xl:grid-cols-12">
            @foreach (var item in _nextUp)
            {
                <PrimaryCardComponent Item="item"/>
            }
        </div>
    }
}

@if (_libraries is not null && _libraries.Length != 0)
{
    foreach (var (library, items) in _libraries)
    {
        if (items?.Count != 0)
        {
            <h2>@library.Name</h2>
            if (items is null)
            {
                <LoadingComponent/>
            }
            else
            {
                <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10 2xl:grid-cols-12">
                    @foreach (var item in items)
                    {
                        <PrimaryCardComponent Item="@item"/>
                    }
                </div>
            }
        }
    }
}
