@page "/item/{itemId:guid}"
@layout MainLayout

@if (Item is null)
{
    <LoadingComponent/>
}
else
{
    <Span>
        @Item.Name
        @if (Item.ProductionYear is not null)
        {
            <Span> - @Item.ProductionYear</Span>
        }
    </Span>
}
