@page "/library/{libraryId:guid}"
@layout MainLayout

<h1>@_library?.Name</h1>

@if (_loading)
{
    <LoadingComponent/>
}
else
{
    <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
        @foreach (var item in _items)
        {
            <PrimaryCardComponent Item="item"/>
        }
    </div>
}

<PagerComponent
    CurrentPage="@_pageIndex"
    PageCount="@_pageCount"
    OnPageChanged="@OnPageChangedAsync"/>
