@page "/movie/{itemId:guid}"
@layout MainLayout

@if (Movie is null)
{
    <LoadingComponent/>
}
else
{
    <Span>
        @Movie.Name
        @if (Movie.ProductionYear is not null)
        {
            <Span> - @Movie.ProductionYear</Span>
        }
    </Span>
}
