@page "/series/{seriesId:guid}/season/{seasonId:guid}"
@layout MainLayout

@if (Season is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Season.Id"/>

    <span>
        @Season.Name
        @if (Season.ProductionYear is not null)
        {
            <div>@Season.ProductionYear</div>
        }
    </span>

    <div>
        @if (Episodes.Count != 0)
        {
            <span>Episodes</span>
            <div class="grid grid-cols-2 gap-6 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10 2xl:grid-cols-12">
                @foreach (var episode in Episodes)
                {
                    <NextUpCardComponent Item="episode"/>
                }
            </div>
        }
    </div>
}
