@page "/series/{seriesId:guid}/season/{seasonId:guid}"
@layout MainLayout

@if (Season is null)
{
    <LoadingComponent/>
}
else
{
    <PosterComponent ItemId="Season.Id"/>

    <Span>
        @Season.Name
        @if (Season.ProductionYear is not null)
        {
            <Div>@Season.ProductionYear</Div>
        }
    </Span>

    <Row>
        @if (Episodes.Count != 0)
        {
            <Span>Episodes</Span>
            foreach (var episode in Episodes)
            {
                <Column ColumnSize="ColumnSize.Is2.Is3.OnTablet.Is4.OnWidescreen.Is6.OnFullHD">
                    <NextUpCardComponent Item="episode"/>
                </Column>
            }
        }
    </Row>
}
