@page "/series/{itemId:guid}"
@layout MainLayout

@if (Series is null)
{
    <LoadingComponent/>
}
else
{
    <span>
        @Series.Name
        @if (Series.ProductionYear is not null)
        {
            <span> - @Series.ProductionYear</span>
        }
    </span>

    <div>
        @if (NextUp is not null)
        {
            <span>Next Up</span>
            <PrimaryCardComponent Item="NextUp"/>
        }
    </div>

    <div>
        @if (Seasons.Count != 0)
        {
            <span>Seasons</span>
            foreach (var season in Seasons)
            {
                <PrimaryCardComponent Item="season"/>
            }
        }
    </div>
}

