@page "/series/{itemId:guid}"
@layout MainLayout

@if (Series is null)
{
    <LoadingComponent/>
}
else
{
    <span>
        @Series.Name
        @if (Series.ProductionYear is not null)
        {
            <span> - @Series.ProductionYear</span>
        }
    </span>
}

